<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<!--    message-->
<div style="position: fixed; bottom: 100px; right: 5px">
    <a class="btn" style="border: none" href="https://www.messenger.com/t/100022370793115" target="_blank"><i class="bi bi-messenger" style="color: blue; font-size: 50px"></i></a>
    <br>
    <a class="btn" style="border: none" href="https://www.messenger.com/t/100022370793115" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/75px-Icon_of_Zalo.svg.png" style="height: 50px"></a>
</div>
</main>

<!--    footer -->
<footer class="col-md-4 text-center my-5" style="width: 100%">
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
</footer>
<script th:src="@{../js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../my-js/script.js}"></script>
</body>
</html>